.panel-principal{
    background-color: #accffe16;
    height:100vh
}

.presentacion_system{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 50px;
    margin-bottom: 30px;
     
    
}

.tarjeta .card:hover{
    border-bottom: 1px solid #17609179 ;
    border-left:1px solid #17609179 ;
    box-shadow: -8px 8px 12px   #1760915b !important; 
}


.container {
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}